server {
	listen 443 ssl;
	listen [::]:443 ssl;
	server_name rizu.nimue.mom;

	ssl_certificate /etc/letsencrypt/live/rizu.nimue.mom/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/rizu.nimue.mom/privkey.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

	root /srv/rizu/dist;

	location / {
		try_files $uri $uri/ /index.html;
	}

	location = /catalog.sqlite {
		alias /srv/rizu/public/catalog.sqlite;
		add_header Cache-Control "no-cache" always;
	}

	location /charts/ {
		alias /srv/rizu/public/charts/;
		add_header Cache-Control "public, max-age=31536000, immutable" always;
	}

	location /chart-previews/ {
		alias /srv/rizu/public/chart-previews/;
		add_header Cache-Control "public, max-age=31536000, immutable" always;
	}

	location /audio-previews/ {
		alias /srv/rizu/public/audio-previews/;
		add_header Cache-Control "public, max-age=31536000, immutable" always;
	}
}

server {
	listen 80;
	listen [::]:80;
	server_name rizu.nimue.mom;
	return 301 https://$host$request_uri;
}
